{% extends "quiz_app/layout.html" %}
{% load static %}

{% block title %}
    Register - Quizzapp
{% endblock %}

{% block main %}
    <div class="mt-3">
        <form id="registerForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" autofocus autocomplete="off" aria-describedby="userHelp">
                <div id="userHelp" class="form-text">Avoid explicit content in your Username</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" autocomplete="off" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" autocomplete="off" aria-describedby="passwordhelp">
                <div id="passwordhelp" class="form-text">Password should be between 8-20 characters and should be alphanumeric.
                    No special characters or emojis allowed.
                </div>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Repeat your password</label>
                <input type="password" class="form-control" id="password2" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'quiz_app/register.js' %}"></script>
{% endblock %}